.app {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.header {
    align-self: center;
    font-family: 'Oleo Script', cursive;    
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 7vw;
}

.quoteWrapper {
    width: 70%;
    align-self: center;
}


.quote {
    font-size: 20px;
}

.another {
    font-size: 5vw;
}

@media (min-width:600px) {
    .another {
        font-size: 20px;
    }
}


.secondRowContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.brianBubbleWrapper {
    width: 20%;
    align-self: center;
    margin-bottom: auto;
}

.chrisWrapper {
    margin-right: auto;
}


.chrisPhoto {
    max-width: 75%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brianPhoto {
    max-width: 75%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rectangle-speech-border {
    position:relative;
    padding:50px 15px;
    margin:1em 0 3em;
    border:10px solid #5a8f00;
    text-align:center;
    color:#333;
    background:#fff;
    /* css3 */
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
  }
  
  /* creates larger curve */
  .rectangle-speech-border:before {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    left:50px;
    width:50px;
    height:30px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:#5a8f00;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
  }
  
  /* creates smaller curve */
  .rectangle-speech-border:after {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    left:50px;
    width:20px;
    height:30px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:#5a8f00;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
  }
  
  /* creates a small circle to produce a rounded point where the two curves meet */
  .rectangle-speech-border > :first-child:before {
    content:"";
    position:absolute;
    bottom:-40px;
    left:45px;
    width:10px;
    height:10px;
    background:#5a8f00;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
  }
  
  /* creates a white rectangle to cover part of the oval border*/
  .rectangle-speech-border > :first-child:after {
    content:"";
    position:absolute;
    bottom:-10px;
    left:76px;
    width:24px;
    height:15px;
    background:#fff;
  }


.triangle-border {
    position:relative;
    min-width: fit-content;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid #992045;
    color:#333;
    background:#fff;
    text-align: center;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:30px;
}

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color: #992045 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
  
  /* creates the smaller  triangle */
  .triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }

  /* creates the larger triangle */
.triangle-border:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #992045;
  }
  
  /* creates the smaller  triangle */
  .triangle-border:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent #fff;
  }