.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.html {
  height: 100%;
}

.body {
  height: 100%;

}

.headerWrapper {
  background: white;
  opacity: 70%;
  height: 15vh;
  position: relative;
  background-color: rgb(255, 202, 202);

}

.header {
    font-family: 'Oleo Script', cursive;    
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 45px;
    text-align: center;
    position: relative;;

}

@media (min-width:600px) {
  .header {
      font-size: 60px;
  }
}

.middleWrapper {
  background-image: url("EDCC41DB-BF8C-4AF2-9DC9-6E7626786ED6_1_102_a.jpeg");
  background-size: 300px;
}

.footerWrapper {
  background-color: rgb(255, 143, 143);
  bottom: 0;
  width: 100%;
  height: 20vh;
}

.footer {
  font-size: 1.7em;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: 'Marck Script', cursive;
}

.quoteWrapper {
    width: 75%;
    height: 100%;
}


.quote {
    font-size: 4vw;
    height: 100%;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.another {
    font-size: 4vw;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

@media (min-width:600px) {
    .another {
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

    }
}

@media (min-width:600px) {
  .quote {
    font-size: 20px;
  }
}


.secondRowContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.brianBubbleWrapper {
    width: 20%;
    align-self: center;
    margin-bottom: auto;
    height: 100%;
}

.chrisWrapper {
    margin-right: auto;
    height: 100%;
}


.chrisPhoto {
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.brianPhoto {
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.triangle-border {
    position:relative;
    min-width: fit-content;
    padding:15px;
    margin:1em 0 3em;
    border:5px solid #992045;
    color:rgb(255, 255, 255);
    background:rgb(31, 31, 31);
    text-align: center;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    margin-right:30px;
}

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color: #992045 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
  
  /* creates the smaller  triangle */
  .triangle-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:rgb(31, 31, 31)transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }

  /* creates the larger triangle */
.triangle-border:before {
    top:10px; /* controls vertical position */
    bottom:auto;
    left:auto;
    right:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 0 15px 30px;
    border-color:transparent #992045;
  }
  
  /* creates the smaller  triangle */
  .triangle-border:after {
    top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:auto;
    right:-21px; /* value = - border-left-width - border-right-width */
    border-width:9px 0 9px 21px;
    border-color:transparent rgb(31, 31, 31);
  }


  .chris-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em 2em;
    border:5px solid #cf7979;
    color:rgb(255, 255, 255);
    background:rgb(31, 31, 31);
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
  }

  .chris-border:before {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
    border-style:solid;
    border-color:#cf7979 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
  
  /* creates the smaller  triangle */
  .chris-border:after {
    content:"";
    position:absolute;
    bottom:-13px; /* value = - border-top-width - border-bottom-width */
    left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width:13px 13px 0;
    border-style:solid;
    border-color:rgb(31, 31, 31) transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }